<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <Standards>
        <parameter name="LysoPC(17:0)">
            <item>0.0 - 4550.0</item>
        </parameter>
        <parameter name="TG(51:0)">
            <item>0.0 - 0.0</item>
        </parameter>
        <parameter name="PC(34:0)">
            <item>0.0 - 0.0</item>
        </parameter>
        <parameter name="Cer(d18:1/17:0)">
            <item>0.0 - 0.0</item>
        </parameter>
        <parameter name="PE(17:0/17:0)">
            <item>0.0 - 0.0</item>
        </parameter>
    </Standards>
    <modules>
        <module class="guineu.modules.database.saveDatasetDB.SaveFileDB">
            <parameters>
                <parameter name="Dataset name: "/>
                <parameter name="Author: "/>
                <parameter name="Studies: "/>
                <parameter name="Dataset units: "/>
                <parameter name="Dataset parameters: "/>
            </parameters>
        </module>
        <module class="guineu.modules.database.openDataDB.OpenFileDB">
            <parameters/>
        </module>
        <module class="guineu.modules.database.deleteDataDB.DeleteDatasetDB">
            <parameters/>
        </module>
        <module class="guineu.modules.file.openLCMSDatasetFile.OpenFile">
            <parameters>
                <parameter name="File names">
                    <file>/home/scsandra/Desktop/example folder/206MB_Heart2.csv</file>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.openGCGCDatasetFile.OpenFile">
            <parameters>
                <parameter name="File Name: ">/home/scsandra/Desktop/example folder/GCGCTofExample.csv</parameter>
                <parameter name="Number of Columns for Parameters: ">10.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.openFiles.OpenFiles">
            <parameters>
                <parameter name="Separator: ">\t</parameter>
                <parameter name="Filter out peaks with classification: ">true</parameter>
                <parameter name="Open GCxGC-MS files">
                    <file>/home/scsandra/Desktop/Example_Files/Example1.txt</file>
                    <file>/home/scsandra/Desktop/Example_Files/Example2.txt</file>
                    <file>/home/scsandra/Desktop/Example_Files/Example3.txt</file>
                    <file>/home/scsandra/Desktop/Example_Files/Example4.txt</file>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.file.openBasicFiles.OpenBasicFile">
            <parameters>
                <parameter name="File names">
                    <file>/home/scsandra/Desktop/Bile_acids.csv</file>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.file.openExpressionFiles.OpenExpressionFile">
            <parameters>
                <parameter name="Dataset name">gdgfd</parameter>
                <parameter name="Assaydata File">/home/scsandra/Desktop/1</parameter>
                <parameter name="Feature File">/home/scsandra/Desktop/2</parameter>
                <parameter name="Pheno File">/home/scsandra/Desktop/3</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.file.saveLCMSFile.SaveLCMSFile">
            <parameters>
                <parameter name="GCGC Filename">/home/scsandra/Desktop/dfsdfsfsdfsdfs.csv</parameter>
                <parameter name="GCGC type">Excel</parameter>
                <parameter name="Export GCGC elements">
                    <item>Id</item>
                    <item>Average m/z</item>
                    <item>Average Retention time</item>
                    <item>Name</item>
                    <item>All names</item>
                    <item>Identification type</item>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.file.saveGCGCFile.SaveGCGCFile">
            <parameters>
                <parameter name="GCGC Filename">/home/scsandra/Desktop/fdsfsdfsdfsdfsd.csv</parameter>
                <parameter name="GCGC type">csv</parameter>
                <parameter name="Export GCGC elements">
                    <item>ID</item>
                    <item>RT1</item>
                    <item>RT2</item>
                    <item>RTI</item>
                    <item>N Found</item>
                    <item>Cas Number</item>
                    <item>Max similarity</item>
                    <item>Mean similarity</item>
                    <item>Similarity std dev</item>
                    <item>Metabolite name</item>
                    <item>Metabolite all names</item>
                    <item>Difference</item>
                    <item>Spectrum</item>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.file.saveOtherFile.SaveOtherFile">
            <parameters>
                <parameter name="Filename">/home/scsandra/Desktop/sdfsdfsdfsd</parameter>
                <parameter name="type">csv</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.file.saveExpressionFile.SaveExpressionFile">
            <parameters>
                <parameter name="LCMS Filename"/>
                <parameter name="Type"/>
            </parameters>
        </module>
        <module class="guineu.modules.file.exit.ExitProgram">
            <parameters/>
        </module>
        <module class="guineu.modules.configuration.tables.LCMS.LCMSColumnsView">
            <parameters>
                <parameter name="Select columns for LC-MS">
                    <item>Selection</item>
                    <item>Average m/z</item>
                    <item>Average Retention time</item>
                    <item>Name</item>
                    <item>Num found</item>
                    <item>Standard</item>
                    <item>Alignment</item>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.configuration.tables.GCGC.GCGCColumnsView">
            <parameters>
                <parameter name="Select columns for GCxGC-MS">
                    <item>Selection</item>
                    <item>RT2</item>
                    <item>RTI</item>
                    <item>N Found</item>
                    <item>Cas Number</item>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.configuration.parameters.ParameterConfiguration">
            <parameters/>
        </module>
        <module class="guineu.modules.configuration.general.GeneralConfiguration">
            <parameters>
                <parameter isautomatic="true" name="Number of concurrently running tasks">2</parameter>
                <parameter name="Use proxy" selected="true">
                    <parameter name="Proxy adress">rohto.vtt.fi</parameter>
                    <parameter name="Proxy port">8000</parameter>
                </parameter>
                <parameter name="Guineu window state">
                    <position>0:27</position>
                    <size>maximized:maximized</size>
                </parameter>
            </parameters>
        </module>
        <module class="guineu.modules.filter.Alignment.RANSAC.RansacAligner">
            <parameters>
                <parameter name="Peak list name">aligned</parameter>
                <parameter name="m/z tolerance" type="mz">0.04</parameter>
                <parameter name="RT tolerance after correction" type="absolute">5.0</parameter>
                <parameter name="RT tolerance" type="absolute">20.0</parameter>
                <parameter name="RANSAC Iterations">1000.0</parameter>
                <parameter name="Minimun Number of Points">0.2</parameter>
                <parameter name="Threshold value">3.0</parameter>
                <parameter name="Linear model">false</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.filter.Alignment.graphalignment.GraphAligner">
            <parameters>
                <parameter name="Peak list name">alignment</parameter>
                <parameter name="m/z tolerance" type="mz">0.04</parameter>
                <parameter name="RT tolerance" type="absolute">5.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.filter.Alignment.centering.mean.MeanCentering">
            <parameters/>
        </module>
        <module class="guineu.modules.filter.Alignment.centering.median.MedianCentering">
            <parameters/>
        </module>
        <module class="guineu.modules.filter.Alignment.normalizationSTD.STDNormalization">
            <parameters/>
        </module>
        <module class="guineu.modules.filter.transpose.TransposeFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.filter.splitdatasets.Split">
            <parameters/>
        </module>
        <module class="guineu.modules.filter.UnitsChangeFilter.UnitsChangeFilter">
            <parameters>
                <parameter name="Multiply by">0.0</parameter>
                <parameter name="Divide by">1000.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.filter.report.qualityReport.Report">
            <parameters>
                <parameter name="Input File"/>
                <parameter name="HTML Output File"/>
                <parameter name="Date"/>
                <parameter name="Sample set"/>
                <parameter name="Ion Mode"/>
                <parameter name="Injection volume">ul</parameter>
                <parameter name="Sample type"/>
                <parameter name="Comments"/>
            </parameters>
        </module>
        <module class="guineu.modules.database.openQualityControlFileDB.OpenFileDB">
            <parameters/>
        </module>
        <module class="guineu.modules.filter.report.RTShift.Report">
            <parameters>
                <parameter name="Run list file name"/>
                <parameter name="Save report"/>
            </parameters>
        </module>
        <module class="guineu.modules.filter.report.intensitiesReport.Report">
            <parameters>
                <parameter name="Run list file name"/>
                <parameter name="Save report"/>
                <parameter name="Use area ">true</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.filter.dataselection.DataSelection">
            <parameters/>
        </module>
        <module class="guineu.modules.identification.CustomIdentification.CustomDBSearch">
            <parameters>
                <parameter name="Database file">/home/scsandra/Desktop/example folder/Identification files/theoretical_pos_without_RT.csv</parameter>
                <parameter name="Field separator">,</parameter>
                <parameter name="Field order">
                    <item>ID</item>
                    <item>m/z</item>
                    <item>Retention time</item>
                    <item>Identity</item>
                    <item>Formula</item>
                </parameter>
                <parameter name="Ignore first line">true</parameter>
                <parameter name="m/z tolerance" type="mz">0.04</parameter>
                <parameter name="Time tolerance" type="absolute">100.0</parameter>
                <parameter name="MSMS Identification">false</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.identification.AdductSearch.AdductSearch">
            <parameters>
                <parameter name="Time tolerance" type="absolute">334.0</parameter>
                <parameter name="Adducts">
                    <item>All related peaks 0.000 m/z</item>
                    <item>[M+NH4] 17.027 m/z</item>
                    <item>[M+Na] 21.982 m/z</item>
                    <item>[[M+NH4] - [M+Na]] 4.955 m/z</item>
                    <item>[M-CH3] 14.016 m/z</item>
                    <item>[M+HCOO] 46.006 m/z</item>
                    <item>[M+C2H3OO], [[M-CH3] - [M+HCOO]] 60.022 m/z</item>
                    <item>[[M-CH3] - [M+C2H3OO]] 74.038 m/z</item>
                    <item>[M+Na-H] 21.982 m/z</item>
                    <item>[M+K-H] 37.956 m/z</item>
                    <item>[M+Mg-2H] 21.969 m/z</item>
                    <item>[M+NH3] 17.026 m/z</item>
                    <item>[M+H3PO4] 97.977 m/z</item>
                    <item>[M+H2SO4] 97.967 m/z</item>
                    <item>[M+H2CO3] 62.000 m/z</item>
                    <item>[(Deuterium)]glycerol 5.000 m/z</item>
                    <item>Custom 0.000 m/z</item>
                </parameter>
                <parameter name="Custom adduct value">5.0</parameter>
                <parameter name="m/z tolerance" type="mz">0.9</parameter>
                <parameter name="Max adduct peak height">0.2</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.identification.simplelipidname.SimpleLipidNameFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.identification.purgeIdentification.purgeIdentification">
            <parameters/>
        </module>
        <module class="guineu.modules.identification.normalizationserum.NormalizeSerumFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.identification.normalizationtissue.NormalizeTissueFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.identification.linearnormalization.LinearNormalizer">
            <parameters>
                <parameter name="Normalization type">Average intensity</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.statistics.variationCoefficient.VariationCoefficient">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.variationCoefficientRow.VariationCoefficientRowFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.foldChanges.Foldtest">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.Ttest.Ttest">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.PCA.ProjectionPlot">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.Media.mediaFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.anova.AnovaTest">
            <parameters/>
        </module>
        <module class="guineu.modules.statistics.clustering.ClusteringTest">
            <parameters>
                <parameter name="Select the algorithm"/>
                <parameter name="Select the algorithm"/>
                <parameter name="Number of clusters to generate">3.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.R.heatmaps.HeatMap">
            <parameters>
                <parameter name="Parameter selection" type="parameter">No parameters</parameter>
                <parameter name="Output file type">pdf</parameter>
                <parameter name="Scaling">true</parameter>
                <parameter name="Log">true</parameter>
                <parameter name="P-value legend">true</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.alignment.scoreAligner.ScoreAlignment">
            <parameters>
                <parameter name="RT Lax:">15.0</parameter>
                <parameter name="RT2 Lax:">0.3</parameter>
                <parameter name="RI Lax:">20.0</parameter>
                <parameter name="RT penalty:">5.0</parameter>
                <parameter name="RT2 penalty:">35.0</parameter>
                <parameter name="RTI penalty">40.0</parameter>
                <parameter name="Minimum Spectrum Match:">0.75</parameter>
                <parameter name="Bonus for matching names:">100.0</parameter>
                <parameter name="Drop peaks with similarity less than:">600.0</parameter>
                <parameter name="Use Concentrations: ">true</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.NameFilter.NameFilter">
            <parameters>
                <parameter name="Suffix: "/>
                <parameter name="File Name: "/>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.calculateDeviations.CalculateDeviations">
            <parameters>
                <parameter name="File Name: "/>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.pubChem.PubChemFilter">
            <parameters>
                <parameter name="Suffix: "/>
                <parameter name="Filter File: "/>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.GroupIdentification.GroupIdentificationFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.mylly.filter.NameGolmIdentification.NameGolmIdentificationFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.mylly.filter.pubChem.GolmIdentification.GetGolmIDsFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.mylly.filter.classIdentification.ClassIdentificationFilter">
            <parameters>
                <parameter name="Suffix: "/>
                <parameter name="Filter File: "/>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.peakCounter.PeakCountFilter">
            <parameters>
                <parameter name="Suffix: ">dfgdfg</parameter>
                <parameter name="Peak Count less than:">2.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.SimilarityFilter.SimilarityFilter">
            <parameters>
                <parameter name="Suffix: ">gdfgdfg</parameter>
                <parameter name="Similarity used: ">maximum similarity</parameter>
                <parameter name="Action: ">Remove</parameter>
                <parameter name="Minimun similarity required:">900.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.singlingFilter.SinglingFilter">
            <parameters>
                <parameter name="Suffix: ">dsfsdf</parameter>
                <parameter name="Filter Unknowns Peaks: ">true</parameter>
                <parameter name="Minimun similarity required:">1000.0</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.linearNormalizer.LinearNormalizerFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.mylly.filter.NonPolarComponents.removeNonPolarFilter">
            <parameters/>
        </module>
        <module class="guineu.modules.mylly.filter.tools.PrepareDeviationFile.RTIFile">
            <parameters>
                <parameter name="Input File: ">/home/scsandra/Desktop/example folder/Jarkko/RI_list_literature.txt</parameter>
                <parameter name="Output File: ">/home/scsandra/ssddfsdf.xml</parameter>
            </parameters>
        </module>
        <module class="guineu.modules.mylly.filter.ConcentrationsFromMass.ConcentrationsFromMassFilter">
            <parameters>
                <parameter name="File Name: "/>
                <parameter name="TIC to EIC">false</parameter>
                <parameter name="Peak from Spectrum"/>
            </parameters>
        </module>
    </modules>
</configuration>
