<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
  <nodes local="2"/>  
  <modules> 
    <module class="guineu.modules.database.saveDatasetDB.SaveFileDB"/>    
    <module class="guineu.modules.database.openDatasetDB.OpenFileDB"/>  
    <module class="guineu.modules.database.deleteDatasetDB.DeleteFileDB"/>    
    <module class="guineu.modules.file.openLCMSDatasetFile.OpenFile"/>  
    <module class="guineu.modules.file.openExperimentsData.OpenFile"/>  
    <module class="guineu.modules.file.openOtherFiles.OpenOtherFile"/>  
    <module class="guineu.modules.file.openMassLynxFiles.OpenFile"/>  
    <module class="guineu.modules.file.exit.ExitProgram"/>  
    <!-- <module class="guineu.modules.file.saveDatasetFile.SaveFile"/> -->
    <module class="guineu.modules.configuration.tables.LCMS.LCMSColumnsView"/>
    <module class="guineu.modules.configuration.tables.GCGC.GCGCColumnsView"/>
    <module class="guineu.modules.filter.Alignment.AlignmentDatasets"/>  
    <module class="guineu.modules.filter.concatenation.filterConcatenate"/>  
    <module class="guineu.modules.filter.transpose.TransposeFilter"/>  
    <module class="guineu.modules.filter.splitdatasets.Split"/>  
    <module class="guineu.modules.filter.relatedpeaks.RelatedPeaksFilter"/>  
    <module class="guineu.modules.filter.UnitsChangeFilter.UnitsChangeFilter"> 
      <parameters>
        <parameter name="Multiply by" type="DOUBLE">0.0</parameter>
        <parameter name="Divide by" type="DOUBLE">0.0</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.commonmolecules.CommonMolecules"/>
	<module class="guineu.modules.filter.dataselection.DataSelection"/>
    <module class="guineu.modules.identification.CustomIdentification.CustomDBSearch"> 
      <parameters>
        <parameter name="Database file" type="FILE_NAME">C:\Documents and Settings\SCSANDRA\Desktop\celiac\standars-NORT.csv</parameter>
        <parameter name="Field separator" type="STRING">,</parameter>
        <parameter name="Field order" type="ORDERED_LIST">ID,m/z,Retention time,Identity,Formula</parameter>
        <parameter name="Ignore first line" type="BOOLEAN">true</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.04</parameter>
        <parameter name="Time tolerance" type="DOUBLE">750.0</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.identification.identification.Identification"/>  
    <!-- <module class="guineu.modules.identification.identificationNeg.Identification"/> -->  
    <module class="guineu.modules.identification.simplelipidname.SimpleLipidNameFilter"/>  
    <module class="guineu.modules.identification.purgeIdentification.purgeIdentification"/>  
    <module class="guineu.modules.identification.normalizationserum.NormalizeSerumFilter"/>  
    <module class="guineu.modules.identification.normalizationtissue.NormalizeTissueFilter"/>  
    <!-- <module class="guineu.modules.identification.normalizationNOMIS.NormalizeNOMISFilter"/> -->  
    <!-- <module class="guineu.modules.identification.normalizationNOMIS2.NormalizeNOMISFilter"/> -->  
    <module class="guineu.modules.statistics.variationCoefficient.VariationCoefficient"/>  
    <module class="guineu.modules.statistics.variationCoefficientRow.VariationCoefficientRowFilter"/>  
    <module class="guineu.modules.statistics.foldChanges.Foldtest"/>  
    <module class="guineu.modules.statistics.Ttest.Ttest"/>  
    <!-- <module class="guineu.modules.statistics.UPGMAClustering.UPGMA"/>  -->  
    <module class="guineu.modules.statistics.Media.mediaFilter"/>  
    <!-- <module class="guineu.modules.statistics.standardVariation.standardVariation"/> -->
    <module class="guineu.modules.msms.open.OpenFile"/>
    <module class="guineu.modules.mylly.openGCGCDatasetFile.OpenFile"/>  
    <module class="guineu.modules.mylly.openFiles.OpenFiles"/>
    <module class="guineu.modules.mylly.alignment.scoreAligner.ScoreAlignment"/>
    <!-- <module class="guineu.modules.mylly.filter.alkaneRTCorrector.AlkaneRTICorrectorFilter"/> -->	
    <module class="guineu.modules.mylly.filter.NameFilter.NameFilter"/>
    <module class="guineu.modules.mylly.filter.calculateDeviations.CalculateDeviations"/>
    <module class="guineu.modules.mylly.filter.pubChem.PubChemFilter"/>  
    <module class="guineu.modules.mylly.filter.classIdentification.ClassIdentificationFilter"/>  
    <module class="guineu.modules.mylly.filter.peakCounter.PeakCountFilter"/>	
    <module class="guineu.modules.mylly.filter.SimilarityFilter.SimilarityFilter"/>	
    <module class="guineu.modules.mylly.filter.singlingFilter.SinglingFilter"/>	
    <module class="guineu.modules.mylly.filter.linearNormalizer.LinearNormalizerFilter"/>	
  </modules>  
  <desktop>
    <format type="m/z">
      <type>NUMBER</type>
      <pattern>#0.000</pattern>
    </format>
    <format type="Retention time">
      <type>TIME</type>
      <pattern>m:ss</pattern>
    </format>
    <format type="Intensity">
      <type>NUMBER</type>
      <pattern>0.00E0</pattern>
    </format>
    <mainwindow>
      <x>0</x>
      <y>29</y>
      <width>-1</width>
      <height>-1</height>
    </mainwindow>
    <lastdirectory></lastdirectory>
    <lastProjectDirectory>/home/bicha/Desktop/prueba.csv</lastProjectDirectory>
    <lastSaveDirectory>D:\data\xxczxczxcz</lastSaveDirectory>
    <lastMyllyDirectory>D:\data\xxczxczxcz</lastMyllyDirectory>
  </desktop> 
</configuration>
