<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
  <nodes local="2"/>  
  <modules> 
    <module class="guineu.modules.database.saveDatasetDB.SaveFileDB"/>  
    <module class="guineu.modules.database.openDataDB.OpenFileDB"> 
      <parameters>
        <parameter name="Project" type="STRING"/>
        <parameter name="Study" type="STRING"/>
        <parameter name="Type of Experiment" type="STRING"/>
        <parameter name="Open" type="MULTIPLE_SELECTION">Sample Information,Project Information,Study Information,Dataset Information</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.database.deleteDatasetDB.DeleteFileDB"/>  
    <module class="guineu.modules.file.openLCMSDatasetFile.OpenFile"/>  
    <module class="guineu.modules.file.openExperimentsData.OpenFile"/>  
    <module class="guineu.modules.file.openOtherFiles.OpenOtherFile"/>  
    <module class="guineu.modules.file.openMassLynxFiles.OpenFile"/>  
    <module class="guineu.modules.file.openMassLynxFiles.Tuulikki.OpenFile"/>  
    <module class="guineu.modules.file.exit.ExitProgram"/>  
    <!-- <module class="guineu.modules.file.saveDatasetFile.SaveFile"/> -->  
    <module class="guineu.modules.configuration.tables.LCMS.LCMSColumnsView"> 
      <parameters>
        <parameter name="LCMS Columns" type="MULTIPLE_SELECTION">Selection,Id,Average m/z,Average Retention time,Name,Num found,Standard</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.configuration.tables.GCGC.GCGCColumnsView"> 
      <parameters>
        <parameter name="GCGC Columns" type="MULTIPLE_SELECTION">Selection,ID,RT1,RT2,RTI,N Found,Cas Number,Max similarity,Mean similarity,Similarity std dev,Metabolite name,Metabolite all names,Class,Pubchem ID,Mass,Difference,Spectrum</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.Alignment.RANSAC.RansacAligner"> 
      <parameters>
        <parameter name="Peak list name" type="STRING">Aligned peak list</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.02</parameter>
        <parameter name="RT tolerance" type="DOUBLE">15.0</parameter>
        <parameter name="RANSAC Iterations" type="INTEGER">0</parameter>
        <parameter name="Minimun Number of Points" type="DOUBLE">0.2</parameter>
        <parameter name="Threshold value" type="DOUBLE">3.0</parameter>
        <parameter name="Curve model" type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.Alignment.centering.mean.MeanCentering"/>  
    <module class="guineu.modules.filter.Alignment.centering.median.MedianCentering"/>  
    <module class="guineu.modules.filter.Alignment.normalizationSTD.STDNormalization"/>  
    <module class="guineu.modules.filter.concatenation.filterConcatenate"/>  
    <module class="guineu.modules.filter.transpose.TransposeFilter"/>  
    <module class="guineu.modules.filter.splitdatasets.Split"/>  
    <module class="guineu.modules.filter.relatedpeaks.RelatedPeaksFilter"/>  
    <module class="guineu.modules.filter.UnitsChangeFilter.UnitsChangeFilter"> 
      <parameters>
        <parameter name="Multiply by" type="DOUBLE">0.0</parameter>
        <parameter name="Divide by" type="DOUBLE">0.0</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.report.RTShift.Report"> 
      <parameters>
        <parameter name="Run list file name" type="FILE_NAME">/home/bicha/Desktop/guineu/runList.csv</parameter>
        <parameter name="Save report" type="FILE_NAME">/home/bicha/Desktop/guineu/report/rt</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.report.intensitiesReport.Report"> 
      <parameters>
        <parameter name="Run list file name" type="FILE_NAME">/home/bicha/Desktop/guineu/runList.csv</parameter>
        <parameter name="Save report" type="FILE_NAME">/home/bicha/Desktop/guineu/report/intensities/heights</parameter>
        <parameter name="Use area " type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.report.areaVSheight.Report"> 
      <parameters>
        <parameter name="Run list file name" type="FILE_NAME">/home/bicha/Desktop/guineu/runList.csv</parameter>
        <parameter name="Save report" type="FILE_NAME">/home/bicha/Desktop/guineu/report/NewFolder</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.filter.commonmolecules.CommonMolecules"/>  
    <module class="guineu.modules.filter.dataselection.DataSelection"/>  
    <module class="guineu.modules.identification.CustomIdentification.CustomDBSearch"> 
      <parameters>
        <parameter name="Database file" type="FILE_NAME">/home/scsandra/Desktop/identification/theoretical_pos_with_RT.csv</parameter>
        <parameter name="Field separator" type="STRING">,</parameter>
        <parameter name="Field order" type="ORDERED_LIST">ID,m/z,Retention time,Identity,Formula</parameter>
        <parameter name="Ignore first line" type="BOOLEAN">true</parameter>
        <parameter name="m/z tolerance" type="DOUBLE">0.04</parameter>
        <parameter name="Time tolerance" type="DOUBLE">750.0</parameter>
        <parameter name="MSMS Identification" type="BOOLEAN">false</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.identification.identification.Identification"/>  
    <!-- <module class="guineu.modules.identification.identificationNeg.Identification"/> -->  
    <module class="guineu.modules.identification.simplelipidname.SimpleLipidNameFilter"/>  
    <module class="guineu.modules.identification.purgeIdentification.purgeIdentification"/>  
    <module class="guineu.modules.identification.normalizationserum.NormalizeSerumFilter"/>  
    <module class="guineu.modules.identification.normalizationtissue.NormalizeTissueFilter"/>  
    <!-- <module class="guineu.modules.identification.normalizationNOMIS.NormalizeNOMISFilter"/> -->  
    <!-- <module class="guineu.modules.identification.normalizationNOMIS2.NormalizeNOMISFilter"/> -->  
    <module class="guineu.modules.statistics.variationCoefficient.VariationCoefficient"/>  
    <module class="guineu.modules.statistics.variationCoefficientRow.VariationCoefficientRowFilter"/>  
    <module class="guineu.modules.statistics.foldChanges.Foldtest"/>  
    <module class="guineu.modules.statistics.Ttest.Ttest"/>  
    <module class="guineu.modules.statistics.PCA.ProjectionPlot"> 
      <parameters>
        <parameter name="Coloring type" type="STRING">Color by file</parameter>
        <parameter name="X-axis component" type="INTEGER">1</parameter>
        <parameter name="Y-axis component" type="INTEGER">2</parameter>
      </parameters> 
    </module>  
    <!-- <module class="guineu.modules.statistics.UPGMAClustering.UPGMA"/>  -->  
    <module class="guineu.modules.statistics.Media.mediaFilter"/>  
    <module class="guineu.modules.R.R"/>  
    <!-- <module class="guineu.modules.statistics.standardVariation.standardVariation"/> -->  
    <module class="guineu.modules.msms.open.OpenFile"/>  
    <module class="guineu.modules.mylly.openGCGCDatasetFile.OpenFile"/>  
    <module class="guineu.modules.mylly.openFiles.OpenFiles"/>  
    <module class="guineu.modules.mylly.alignment.scoreAligner.ScoreAlignment"> 
      <parameters>
        <parameter name="RT1 Lax:" type="DOUBLE">15.0</parameter>
        <parameter name="RT2 Lax:" type="DOUBLE">0.3</parameter>
        <parameter name="RI Lax:" type="DOUBLE">20.0</parameter>
        <parameter name="RT penalty:" type="DOUBLE">5.0</parameter>
        <parameter name="RT2 penalty:" type="DOUBLE">35.0</parameter>
        <parameter name="RTI penalty" type="DOUBLE">40.0</parameter>
        <parameter name="Minimun Spectrum Match:" type="DOUBLE">0.75</parameter>
        <parameter name="Bonus for matching names:" type="DOUBLE">100.0</parameter>
        <parameter name="Drop peaks with similarity less than:" type="DOUBLE">600.0</parameter>
        <parameter name="Use Concentrations: " type="BOOLEAN">true</parameter>
      </parameters> 
    </module>  
    <!-- <module class="guineu.modules.mylly.filter.alkaneRTCorrector.AlkaneRTICorrectorFilter"/> -->  
    <module class="guineu.modules.mylly.filter.NameFilter.NameFilter"> 
      <parameters>
        <parameter name="Suffix: " type="STRING">-Name Filter</parameter>
        <parameter name="Name Filter File: " type="FILE_NAME">Name Filter File</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.calculateDeviations.CalculateDeviations"> 
      <parameters>
        <parameter name="Name Filter File: " type="FILE_NAME">Name Filter File</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.pubChem.PubChemFilter"> 
      <parameters>
        <parameter name="Suffix: " type="STRING">-PubChem Filter</parameter>
        <parameter name="Filter File: " type="FILE_NAME">PubChem Filter File</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.classIdentification.ClassIdentificationFilter"> 
      <parameters>
        <parameter name="Suffix: " type="STRING">-Class Identification Filter</parameter>
        <parameter name="Filter File: " type="FILE_NAME">Class Identification File</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.peakCounter.PeakCountFilter"> 
      <parameters>
        <parameter name="Suffix: " type="STRING">-Count Filter</parameter>
        <parameter name="Peak Count less than:" type="INTEGER">2</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.SimilarityFilter.SimilarityFilter"> 
      <parameters>
        <parameter name="Suffix: " type="STRING">-Similarity Filter</parameter>
        <parameter name="Similarity used: " type="STRING"></parameter>
        <parameter name="Action: " type="STRING"></parameter>
        <parameter name="Minimun similarity required:" type="DOUBLE">0.0</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.singlingFilter.SinglingFilter"> 
      <parameters>
        <parameter name="Suffix: " type="STRING">-Uniques Filter</parameter>
        <parameter name="Filter Unknowns Peaks: " type="BOOLEAN">true</parameter>
        <parameter name="Minimun similarity required:" type="DOUBLE">0.0</parameter>
      </parameters> 
    </module>  
    <module class="guineu.modules.mylly.filter.linearNormalizer.LinearNormalizerFilter"/> 
  </modules>  
  <desktop>
    <format type="m/z">
      <type>NUMBER</type>
      <pattern>#0.000</pattern>
    </format>
    <format type="Retention time">
      <type>TIME</type>
      <pattern>m:ss</pattern>
    </format>
    <format type="Intensity">
      <type>NUMBER</type>
      <pattern>0.00E0</pattern>
    </format>
    <mainwindow>
      <x>-3</x>
      <y>26</y>
      <width>-1</width>
      <height>-1</height>
    </mainwindow>
    <lastdirectory></lastdirectory>
    <lastProjectDirectory>/home/bicha/Download/112Vein-tracer.xls</lastProjectDirectory>
    <lastSaveDirectory>D:\data\xxczxczxcz</lastSaveDirectory>
    <lastMyllyDirectory>D:\data\xxczxczxcz</lastMyllyDirectory>
    <parameter name="LCMS Columns" type="MULTIPLE_SELECTION">Selection,Id,Average m/z,Average Retention time,Name,Num found,Standard</parameter>
    <parameter name="GCGC Columns" type="MULTIPLE_SELECTION">Selection,ID,RT1,RT2,RTI,N Found,Cas Number,Max similarity,Mean similarity,Similarity std dev,Metabolite name,Metabolite all names,Class,Pubchem ID,Mass,Difference,Spectrum</parameter>
    <parameter name="LCMS Filename" type="FILE_NAME">/home/scsandra/Desktop/processed files/179-167GUT/3-12/167-179GUTsero2.csv</parameter>
    <parameter name="LCMS type" type="STRING">csv</parameter>
    <parameter name="Export LCMS elements" type="MULTIPLE_SELECTION">Average m/z,Average Retention time,Name,Num found,Standard</parameter>
    <parameter name="GCGC Filename" type="FILE_NAME"/>
    <parameter name="GCGC type" type="STRING"/>
    <parameter name="Export GCGC elements" type="MULTIPLE_SELECTION">Selection,ID,RT1,RT2,RTI,N Found,Cas Number,Max similarity,Mean similarity,Similarity std dev,Metabolite name,Metabolite all names,Class,Pubchem ID,Mass,Difference,Spectrum</parameter>
    <parameter name="Filename" type="FILE_NAME"/>
    <parameter name="type" type="STRING"/>
  </desktop> 
</configuration>
