h1 { margin-left: 10px; margin-right: 10px; color: #0066cc; font-size: 18px; }
h2 { margin-left: 20px; margin-right: 10px; margin-top: 20px; color: #cc0066; font-size: 14px; }
h3 { margin-left: 25px; margin-right: 10px; margin-top: 20px; color: #006600; font-size: 13px; }
h4 { margin-left: 30px; margin-right: 10px; margin-top: 10px; font-size: 11px; }
p { margin-left: 30px; margin-right: 10px; font-size: 11px; text-align: justify; }
li { margin-left: 30px; margin-right: 10px; margin-bottom: 10px; font-size: 11px; }
dl { margin-left: 30px; font-size: 11px; }
dt { font-style: italic; }
dd { margin-bottom: 10px; }
img { margin-left: 30px; margin-top: 20px; margin-bottom: 20px; }

table.sample {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(255, 255, 240);
}
table.sample td {
    border-width: 1px 1px 0 0;
    padding: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    -moz-border-radius: 0px;
}

pre {
    margin-left: 30px;
    margin-right: 10px;  
    font-size: 11px;
    background: #f0f0f0;
    width: 500px;
}
    
